*{
    padding:0%;
    margin: 0%;
}
.hero{
    position: relative;
    background-image: url(hotel2.jpeg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);
}
.hero-text{
    font-size: 35px;
    text-align: center;
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#para{
    text-align: center;
    color: white;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}
.book{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.2rem;
    color: white;
    font-weight: 300;
    /* border: 2px solid rgb(218, 233, 9); */
    transition: 0.3s ease;
    cursor: pointer;
}
.book:hover{
    transform: scale3d(1.03);
    background-color: white;
    color: black;
    box-shadow: 0 0 25px #a3e25b;
}