@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
    --first-color: hsl(82, 60%, 28%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: white;
    --body-color: hsl(0, 0%, 95%);
    --container-color: hsl(0, 0%, 100%);
    --body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size: .900rem;
  }
  
  @media screen and (min-width: 1120px) {
    :root {
      --h2-font-size: 1.5rem;
      --small-font-size: .875rem;
    }
  }
*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
.hero{
    position: relative;
    background-image: url(hotel2.jpeg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);
}
.hero-text{
    font-size: 35px;
    text-align: center;
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#para{
    text-align: center;
    color: white;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}
.book{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.2rem;
    color: white;
    font-weight: 300;
    /* border: 2px solid rgb(218, 233, 9); */
    transition: 0.3s ease;
    cursor: pointer;
}
.book:hover{
    transform: scale3d(1.03);
    background-color: white;
    color: black;
    box-shadow: 0 0 25px #a3e25b;
}
.aboutus{
    position: relative;
    /* border: 4px solid red; */
    width: 100%;
    height: 100vh;
    text-align: center;
}
.aboutus h1{
    margin-top: 4%;
    font-size:  40px;
}
#About{
    position: absolute;
    /* border: 2px solid blue; */
    font-size: 22px;
    height: auto;
    width: 70%;
    margin-left: 12%;
    font-style: italic;
    padding: 3% 5% 0% 5%;
}
.pho-box{
    /* border: 2px solid yellow; */
    position: relative;
    top: 30%;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    display: grid;
    align-items: start;
    margin-inline: 1.5rem;
    padding-block: 5rem;
}
.card__container {
    /* display: grid; */
    display: flex;
    justify-content: space-evenly;
    row-gap: 3.5rem;
}
.card__article {
    position: relative;
    overflow: hidden;
}
.card__img {
    border-radius: 1rem;
    width: 250px;
    height: 250px; 
}
.card__data {
    width: 280px;
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}
.card__description {
    color: blue;
    display: block;
    font-size:12px;
    margin-bottom: .25rem;
}
.card__title {
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
}
.card__button {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--first-color);
}
.card__button:hover {
    text-decoration: underline;
}
.card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}
  
  .card__article:hover {
    animation: remove-overflow 2s forwards;
}
  
  .card__article:not(:hover) {
    animation: show-overflow 2s forwards;
}
  
  .card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
}
/* card animation */
@keyframes show-data {
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(-7rem);
    }
  }
  
  @keyframes remove-overflow {
    to {
      overflow: initial;
    }
  }
  
  @keyframes remove-data {
    0% {
      transform: translateY(-7rem);
    }
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(.5rem);
    }
  }
  
  @keyframes show-overflow {
    0% {
      overflow: initial;
      pointer-events: none;
    }
    50% {
      overflow: hidden;
    }
  }
  
  @media screen and (max-width: 340px) {
    .container {
      margin-inline: 1rem;
    }
  
    .card__data {
      width: 250px;
      padding: 1rem;
    }
  }
  
  @media screen and (min-width: 768px) {
    .card__container {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5rem;
    }
  }
  
  @media screen and (min-width: 1120px) {
    .container {
      height: 100vh;
    }
  
    .card__container {
      grid-template-columns: repeat(3, 1fr);
    }
    .card__img {
      width: 348px;
    }
    .card__data {
      width: 316px;
      padding-inline: 2.5rem;
    }
  }

.amenities{
    /* border: 2px solid rgb(4, 0, 255); */
    width: 100%;
    height: 100%;
    text-align: center;
}
#ame{
  padding-top: 4%;
  padding-bottom: 3%;
  font-size: 40px;
}
.all-img{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.all-img img{
  width: 350px;
  height: 250px;
  border-radius: 20px;
}
#hr1{
  margin-left: 30px;
  width: 95%;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.589);
  border-radius: 80%;
}
